numpy>=1.18.2
scipy>=1.4.1
wget>=3.2
seaborn>=0.10.0
tensorflow==2.3.1
tensorflow-gpu==2.3.1
opencv-python==4.1.2.30
tqdm==4.43.0
pandas
awscli
urllib3
mss
Pillow
azureml-core==1.17.0
azureml-defaults==1.17.0
azureml-telemetry==1.17.0
azureml-train-restclients-hyperdrive==1.17.0
azureml-train-core==1.17.0
horovod==0.19.5